@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-10px);} 
    60% {transform: translateY(-5px);} 
 }

.contactContainer {
    margin-top: 7rem;
    height: 10rem;

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;

        li {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--black-150);
                width: 4rem;
                height: 4rem;
                border-radius: 50%;

                &:hover {
                    filter: brightness(0.9);
                }
            
                .icons {
                    height: 2rem;
                    width: 2rem;
                    color: var(--green);
                    cursor: pointer;
                    
                    &:hover {
                        animation: bounce 1s;
                    }

                }
            }

            h3 {
            margin-top: 0.5rem;
            color: var(--white);
            font-weight: bold;
            font-size: 0.9rem;
            }

        }
    };
}