.skillsContainer {
    margin-top: 3rem;

    h1 {
        color: var(--white);
        text-align: center;
        margin-bottom: 2rem;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1rem;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
            width: 150px;
            background: var(--black-150);
            list-style: none;

            img {
                cursor: pointer;
            }
        }
    }
}