@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-20px);} 
    60% {transform: translateY(-15px);} 
 }

.skillsContainer {
    margin-top: 3rem;

    h1 {
        color: var(--white);
        text-align: center;
        margin-bottom: 3rem;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1rem;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
            width: 150px;
            background: var(--black-150);
            list-style: none;

            
            &:hover {
                animation: bounce 1.5s;
            }

            img {
                cursor: pointer;
            }
        }
    }
}