.reactModalContent {
    width: 100%;
    position: relative;
    max-width: 576px;
    padding: 3rem;
    background: var(--white);
    border-radius: 0.25rem;
}

.reactModalOverlay {
    background: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.reactModalClose {
    border: 0;
    background: transparent;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    width: 2rem;
    height: 2rem;
    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.8)
    }
}