.reactModalContent {
    width: 100%;
    position: relative;
    max-width: 780px;
    padding: 3rem;
    background: var(--white);
    border-radius: 0.25rem;
    outline: none;

    display: flex;
    justify-content: center
}

.reactModalOverlay {
    background: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.reactModalClose {
    border: 0;
    background: transparent;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    width: 2rem;
    height: 2rem;
    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.8)
    }
}

.modalContent {
    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    img {
        height: 20rem;
        width: 100%;
        border: var(--black-100);
        margin-bottom: 2rem;
    }

    p {
        text-align: justify;
    }

.buttonStyle {
    display: flex;
    justify-content: center;

    a {
        text-decoration: none;
    
        button {
            display: flex;
            align-items: center;
            margin-top: 3rem;
            padding: 0.6rem 1rem;
            border: 0;
            border-radius: .2rem;
            font-weight: 600;
            color: var(--white);
            background: var(--black-170);
            cursor: pointer;
            transition: background 0.2s;

            &:hover {
                background: darken(#828282, 15%)
            }

            span {
                display: flex;
                align-items: center;
                margin-right: .3rem;
                color: white;
                }

            }
        }
    }
}